---
import '../styles/global.css'
import Menu from '../components/Menu.astro'
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Top from '../components/Top.astro'
import Middle from '../components/Middle.astro'
import background from '../assets/background.png'
---

<Layout>
  <div class="relative min-h-screen w-full">
    <!-- Background Image -->
    <img
      src={background.src}
      alt=""
      class="fixed top-0 left-0 w-full h-full object-cover z-[-5]"
    />

    <!-- Gradient Overlay -->
    <div
      class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-b from-[#070a0f]/50 to-black z-[-4]"
    >
    </div>
    <Menu />
    <Title />
    <Top />
    <Middle />
  </div>
</Layout>
