<div class="bottom-content">
  <!-- Orange Area with feature highlights-->
  <div class="bottom-box">
    <div class="bottom-title">
      A library management system built to help you save space.
    </div>
    <p
      style="color: white;font-size: 1.125rem;line-height: 1.75rem;margin-top:1rem;"
    >
      Maintainerr was created to assist you in freeing up storage space. Here
      are some of its useful features :
    </p>
    <div class="bottom-grid">
      <div>
        <div>
          <i class="fa-solid fa-object-group grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Collection Management</div>
          <p class="grid-info">
            Make Collections from a specific set of rules, defined by you
          </p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-video grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Plex Overview</div>
          <p class="grid-info">See an overview of your Plex library contents</p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-plus grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Manual Control</div>
          <p class="grid-info">
            Manually add media items into or remove media from a collection
          </p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-thumbs-up grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Plex Collections</div>
          <p class="grid-info">
            Show your new collection on the Plex Home screen
          </p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-clock grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Countdown Timer</div>
          <p class="grid-info">
            Set a number of days the collection will exist before its contents
            are deleted
          </p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-handshake grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">*arr Integration</div>
          <p class="grid-info">
            Set Radarr and Sonarr to either remove or unmonitor media in the
            collection
          </p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-eye grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Overseerr Integration</div>
          <p class="grid-info">Auto clear requests from Overseerr</p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-floppy-disk grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Storage Management</div>
          <p class="grid-info">Remove media from disk</p>
        </div>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-list grid-icons"></i>
        </div>
        <div>
          <div class="grid-headings">Tautulli Integration</div>
          <p class="grid-info">
            Use information and statistics from your Tautulli installation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

