---
import { Icon } from 'astro-icon/components'
---

<div class="flex flex-col justify-center md:flex-row md:mb-4">
  <div
    class="mx-6 mb-2 md:mb-0 text-zinc-300 text-sm md:text-base flex items-center justify-center"
  >
    <Icon name="regular/copyright" />
    <style>
      [data-icon='regular/copyright'] {
        padding-right: 4px;
      }
    </style> 2025 Maintainerr. All rights reserved.
  </div>
  <div class="flex-row flex gap-4 items-center justify-center md:mb-0 mb-4">
    <a href="https://github.com/jorenn92/maintainerr" target="_blank"
      ><Icon name="brands/github" class="text-zinc-300" /></a
    >
    <a href="https://discord.maintainerr.info" target="_blank"
      ><Icon name="brands/discord" class="text-zinc-300" /></a
    >
    <a href="https://hub.docker.com/r/jorenn92/maintainerr" target="_blank"
      ><Icon name="brands/docker" class="text-zinc-300" /></a
    >
    <a href="https://fontawesome.com/" target="_blank">
      <Icon name="brands/font-awesome" class="text-zinc-300" /></a
    >
    <a href="https://www.npmjs.com/" target="_blank"
      ><Icon name="brands/npm" class="text-zinc-300" /></a
    >
    <a href="https://nodejs.org/en" target="_blank"
      ><Icon name="brands/node-js" class="text-zinc-300" /></a
    >
    <a href="https://www.markdownguide.org/" target="_blank"
      ><Icon name="brands/markdown" class="text-zinc-300" />
    </a>
  </div>
</div>
