---
import { Image } from 'astro:assets'
import '../styles/global.css'
import rules from '../assets/rules-screenshot.png'
---

<div class="px-[2rem] py-[4rem]">
  <div class="gap-[6rem] max-w-7xl grid grid-cols-1 md:grid-cols-2 m-auto">
    <div class="text-stone-400 font-semibold">
      <div
        class="text-transparent font-extrabold text-2xl mb-4 bg-clip-text bg-gradient-to-br from-amber-600 to-amber-400 tracking-tight"
      >
        The Best Way to Manage Your Library
      </div>
      <p>
        Maintainerr helps you find those outlying media items that have just
        been sitting there in your library. If you use <a
          href="https://overseerr.dev"
          style="color:#6366f1"
          target="_blank">Overseerr</a
        >, it is easy for your users to start downloading everything they can
        think of. Sometimes, they don't even watch it.
      </p>
      <hr class="w-full h-2 my-4" />

      <p>
        Utilize multiple parameters across Plex, Sonarr, Radarr, Tautulli, and
        Overseerr to find unwatched/unwanted media, and get rid of it.
      </p>
    </div>
    <div>
      <div>
        <Image
          src={rules}
          alt="Rules Screenshot"
          class="rounded-lg shadow-lg"
          width={1280}
          height={720}
        />
      </div>
    </div>
  </div>
</div>
