---
import rules from '../assets/rules-screenshot.png'
---

<div class="relative">
  <div class="flex flex-row">
    <div class="text-white flex">
      <div
        class="text-transparent bg-clip-text bg-gradient-to-br from-amber-600 to-amber-400 tracking-tight"
      >
        The Best Way to Manage Your Library
      </div>
      <p>
        Maintainerr helps you find those outlying media items that have just
        been sitting there in your library. If you use <a
          href="https://overseerr.dev"
          style="color:#6366f1"
          target="_blank">Overseerr</a
        >, it is easy for your users to start downloading everything they can
        think of. Sometimes, they don't even watch it.
      </p>
      <p class="expanded">
        Utilize multiple parameters across Plex, Sonarr, Radarr, Tautulli, and
        Overseerr to find unwatched/unwanted media, and get rid of it.
      </p>
    </div>
    <div class="middle-right">
      <div class="screenshot2">
        <a
          href="https://maintainerr.info/images/rules-screenshot.png"
          target="_blank"><img src={rules.src} class="w-1/2" /></a
        >
      </div>
    </div>
  </div>
</div>
