<div class="max-w-7xl m-auto px-4">
  <div
    class="bg-gradient-to-r from-zinc-700 to-zinc-600 via-zinc-500 rounded-lg"
  >
    <h1
      class="text-3xl font-extrabold tracking-tight text-center text-amber-500 drop-shadow-lg shadow-black mb-4"
    >
      Statistics
    </h1>
    <div class="flex flex-row justify-between items-center">
      <div></div>
    </div>
  </div>
</div>
