<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/maintainerr_site/favicon.ico" />
    <title>Maintainerr</title>
  </head>
  <body class="m-0 w-full h-full">
    <div class="relative min-h-screen w-full overflow-hidden">
      <slot />
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
